@media(max-width: 1440px){
  .wrapper{
    .content{
      width: 1200px;
    }
    .scroll_box{
      width: 1200px;
    }
    section{
      &.main_banner .slider{
        .slick-prev{
          transform: rotate(180deg) translate(-500px, 0)
        }
        .slick-next{
          transform: translate(580px, 0)
        }
      }
      &.block_img .content{
        .block {
          height: auto;
          .left,.right{
            height: auto;
            min-height: 320px;
            padding-bottom: 80px;
          }
        }
        .big_figure{
          right: -60px;
        }
      }
      &.overseas_projects{
        .img{
          width: 570px;
          margin-top: 60px;
        }
        .content{
          .left{
            .midlle_figure{
              bottom: -120px;
            }
          }
        }
      }
      &.about_map .content .row {
        .big{
          font-size: 320px;
        }
        .col{
          height: 230px;
        }
      }
    }
   
  }
}
@media(max-width: 1240px){
  .wrapper{
    .content{
      width: 980px;
    }
    .scroll_box{
      width: 980px;
    }
    header {
      .content .menu_list{
        margin-right: auto;
      }
      
      .content .popup_menu .menu{
        &:before{
          width: ~'calc(50% + 110px)'
        }
        .row {
          ul {
            width: ~'calc(50% - 100px)';
            li a{
              font-size: 45px;
            }
          }
          .right{
            width: 50%;
            a.phone{
              font-size: 45px;
            }
            p{
              font-size: 32px;
              line-height: 50px;
            }
          }
        }
      }
    }
    section{
      &.main_banner .slider .item{
        img{
          width: auto;
          height: 100%;
        }
        .content .text{
          h1{
            font-size: 80px;
          }
          h4{
            max-width: 490px;
            width: auto;
            font-size: 26px;
          }
        }
      }
      &.news_main .content{
        .block{
          &.news_page{
            margin-left: 0;
          }
          .left a.img{
            margin-left: 100px;
            width: ~"calc(100% - 200px)"
          }
        }
        .list{
          margin-left: 0;
        }
        .navigation{
          margin-left: 0;
        }
      }
      &.block_img .content {
        p.sect-title{
          font-size: 75px;
        }
        .block{
          .left,.right{
            p{
              &.one{
                font-size: 70px;
                line-height: 70px;
              }
              &.two{
                font-size: 18px;
              }
            }
          }
        }
      }
      &.main_banner .slider {
        .slick-prev{
          transform: rotate(180deg) translate(-400px, 0)
        }
        .slick-next{
          transform: translate(480px, 0)
        }
      }
      &.indicators{
        .content{
          .block{
            .slider{
              width: 700px;
            }
          }
        }
      }
      &.block_text{
        .citys{
          display: none;
        }
      }
      &.overseas_projects{
        .img{
          position: unset;
          transform: none;
          margin: 0;
          width: 60%;
          height: auto;
        }
        .content{
          padding-top: 40px;
          position: relative;
          margin-bottom: 10px;
          .left{
            position: unset;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            .midlle_figure{
              bottom: -120px;
              display: none;
            }
            .logotype{
              position: absolute;
              right: 34%;
              top: -36vw;
              padding: 30px;
            }
          }
          .right{
            width: 100%;
            p.one{
              width: 100%;
            }
          }
        }
      }
      &.contacts .content {
        .block .right {
          padding: 70px;
          margin-top: 148px;
          height: ~"calc(100% - 140px)";
          width: ~'calc(50% - 70px)';
          p{
            font-size: 28px;
          }
          a{
            font-size: 28px;
          }
        }
      }
      &.bosses .content .row {
        flex-direction: column;
        margin-bottom: 30px;
        &:nth-child(even){
          flex-direction: column;
        }
        .item{
          width: 700px;
          max-width: 100%;
          .text{
            right: 0;
          }
        }
        .block{
          display: flex;
          width: 100%;
          margin-top: 30px;
          .item{
            width: 50%;
            display: flex;
            flex-direction: column-reverse;
            .text{
              position: unset;
              margin-top: 28px;
            }
          }
        }
      }
      &.img_left{
        .img{
          width: 95%;
          min-width: auto;
          height: 53vw;
          top: ~'calc(70px + 20vw)';
          right: 5%;
        }
        .content{
          p.title{
            margin-bottom: ~'calc(200px + 54vw)';
            font-size: 35px;
            line-height: 50px;
            margin-left: 0;
          }
          .midlle_figure{
            width: 20vw;
            height: 20vw;
            background-size: contain;
            background-repeat: no-repeat;
            top: ~'calc(70px + 10vw)';
            left: 50%;
            transform: translate(-50%,0);
          }
          p.one{
            margin-left: 0;

          }
          .line{
            margin-left: 0;
          }
        }
      }
      &.about_map {
        padding-bottom: 100px;
        .content {
          .row{
            z-index: 4;
            position: relative;
            flex-wrap: wrap;
            .col{
              height: auto;
              position: unset;
              margin-top: 50px;
              width: 50%;
              p.red_small{
                width: 120px;
                left: auto;
                top: 25px;
                right: 0;
              }
            }
          }
          .block{
            margin-left: 200px;
            margin-right: 0;
            margin-top: 100px;
            &+.block{
              margin-left: 200px;
              margin-top: 400px;
            }
          }
        }
        .map{
          bottom: 300px;
        }
      }
      &.prizes{
        .content{
          .item{
            width: 100%;
          }
        }
      }
      &.management .content .row:last-child .point.top.long.center{
        top: -343px;
        &:after{
          width: 343px;
        }
      }
      &.struct .content .block .item{
        width: ~"calc((100% - 96px ) / 2)"
      }
    }
  }
}
@media(max-width: 1024px){
  .wrapper{
    &.p404{
      background-image: none;
    }
    .content{
      width: ~'calc(100% - 80px)';
      margin: auto;
    }
    .scroll_box{
      width: ~'calc(100% - 80px)';
      margin: auto;
    }
    header{
      .content{
        .lang{
          display: none;
        }
        
        .popup_menu .menu{
          &:before{
            width: ~'calc(50% + 70px)'
          }
          .row {
            ul {
              width: ~'calc(50% - 70px)';
              li a{
                font-size: 37px;
              }
            }
            .right{
              width: 50%;
              a.phone{
                font-size: 37px;
              }
              p{
                font-size: 26px;
                line-height: 40px;
              }
            }
          }
        }
      }
    }
    section{
      &.main_banner {
        a.projects{
          height: 170px;
          padding-left: 40px;
          width: ~'calc(50% - 100px)';
          .str{
            margin-top: 50px;
            left: 40px;
          }
        }
        .slider{
          .item{
            .content{
              .text{
                margin-left: 100px;
              }
            }
          }
          .slick-next{
            right: 20px;
            transform: none;
          }
          .slick-prev{
            left: auto;
            transform: rotate(180deg);
            right: 80px;
          }
        }
      }
      &.news_main .content {
        .form_news{
          padding-left: 25px;
        }
        .block {
          .right{
            padding-left: 50px;
          }
          .left {
            .big_figure,.small_figure{
              display: none;
            }
            a.img{
              margin: 0;
              margin-left: 0;
              width: ~"calc(100% - 100px)";
              height: ~"calc(100% - 100px)";
              img{
                height: 100%;
                width: auto;
                left: 50%;
                transform: translate(-50%,0);
              }
            }
          }
        }
        .list{
          a.item{
            flex-basis: ~"calc((100% - 50px)/2)";
          }
        }
      }
      &.search_results{
        .content{
          .results{
            a.item{
              flex-basis: ~"calc((100% - 50px)/2)";
            }
          }
        }
      }
      &.block_img .content{
        p.sect-title{
          margin-top: 50px;
          font-size: 60px;
        }
        .img_year{
          width: 90vw;
        }
        .big_figure{
          right: -32px;
        }
        .block{
          .left,.right{
            padding: 60px;
            p{
              &.one{
                font-size: 60px;
                line-height: 55px;
              }
              &.two{
                margin-right: 0;
              }
            }
          }
        }
      }
      &.page_title{
        margin-top: 130px;
        &.has_bg {
          padding-top: 130px;
          img{
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: auto;
          }
        }
        .content{
          p{
            &.title{
              font-size: 40px;
            }
            &.info{
              margin-left: 300px;
              font-size: 19px;
            }
          }
        }
        .scroll_box{
          ul.sub_menu{
            flex-wrap: wrap;
            margin-bottom: 20px;
            li{
              margin-bottom: 25px;
              margin-right: 5px;
            }
          }
        }
      }
      &.fin_report{
        .content{
          p{
            &.title{
              font-size: 24px;
            }
          }
          .block{
            .item{
              p{
                font-size: 13px;
                line-height: 16px;
                margin-right: 30px;
              }
            }
          }
        }
      }
      &.block_text{
        .content{
          p{
            &.title{
              font-size: 24px;
            }
          }
          a.red{
            font-size: 18px;
          }
          .block_left_img{
            margin-left: 0;
            img{
              position: unset;
              margin-top: 15px;
            }
            .block{
              .item{
                padding: 40px 20px;
              }
            }
          }
        }
      }
      &.inf_rating .content .item {
        .img{
          min-width: 200px;
        }
        .right{
          p{
            &.one{
              font-size: 18px;
              line-height: 24px;
            }
          }
        }
      }
      &.indicators{
        .content{
          .block{
            .slider{
              width: ~'calc(100% - 240px)';
            }
            table.titles{
              min-width: 240px;
              tr td{
                font-size: 13px;
              }
            }
          }
        }
      }
      &.news_detail{
        .content{
          a.back{
            position: unset;
            justify-content: flex-start;
            margin-bottom: 20px;
          }
          p{
            margin-left: 0;
            margin-right: 0;
            &.title{
              font-size: 24px;
            }
          }
        }
      }
      &.social{
        .content{
          flex-direction: column;
          align-items: flex-start;
          p.title{
            margin-left: 0;
            margin-bottom: 40px;
            &::before,&:after{
              content: none;
            }
          }
          ul{
            position: relative;
            &::before{
              position: absolute;
              content:'';
              background-color: #f7f7f7;
              z-index: -1;
              height: 80px;
              width: 1000%;
              left: 25px;
              top: 50%;
              transform: translate(0,-50%);
            }
            li{
              margin-left: 12px;
              &:first-child{
                margin-left: 0;
              }
            }
          }
        }
      }
      &.projects .content .block{
        .item{
          width: ~'calc(50% - 10px)' !important;
          overflow: hidden;
          height: 420px !important;
          img{
            width: 100%;
            height: auto;
          }
          p.one{
            font-size: 18px;
          }
          p.date{
            font-size: 14px;
          }
        }
      }
      &.special {
        img.left{
          right: 60%;
        }
        .midlle_figure{
          left: 40%;
        }
        .content{
          .right{
            width: 60%;
          }
          
        }
      }
      &.contacts {
        .bg{
          position: unset;
          background-position: ~'calc(50% + 200px)';
        }
        .content {
          top:0;
          .row{
            flex-wrap: wrap;
            justify-content: flex-start;
            .col{
              margin-right: 30px;
            }
          }
          .block .right {
            padding: 70px 0;
            height: ~"calc(100% - 140px)";
            margin-top: 0;
            width: 100%;
            &:before{
              width: 200%;
              left: 50%;
              transform: translate(-50%,0);
              z-index: -1;;
            }
            p{
              font-size: 28px;
            }
            a{
              font-size: 28px;
            }
          }
        }
      }
      &.requisites{
        margin-bottom: 50px;
        .content{
          p.title{
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 30px;
          }
          .block{
            table{
              width: 100%;
              border: 0;
              padding: 0;
              tr{
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 13px;
                &:first-child{
                  td{
                    padding-top: 0;
                  }
                }
                &:last-child{
                  td{
                    padding-bottom: 0;
                  }
                }
                td{
                  padding: 0;
                  width: 100%;
                  margin-bottom: 5px;
                  &:nth-child(odd){
                    width: 100%;
                  }
                  &:first-child{
                    border: 0;
                  }
                }
              }
            }
          }
        }
      }
      &.history .content{
        .years{
          width: 140px;
          .slick-current .item{
            font-size: 40px;
          }
          .item{
            font-size: 24px;
          }
        }
        .events {
          padding-top: 30px;
          width:100%;
          .slick-arrow{
            width: 125px;
            height: 35px;
            top: 10px;
            font-size: 20px;
            margin-left: 0;
            &:before{
              width: 63px;
              height: 14px;
            }
            &.slick-prev{
              left: 0;
            }
            &.slick-next{
              left: auto;
              right: 20px;
            }
          }
          .item{
            .block{
              opacity: 0.7;;
              padding-right: 28px;
              &:before{
                width: ~'calc(100% - 20px)';
              }
            }
          }
        }
      }
      &.about .content {
        .block{
          max-width: none;
          top: -250px;
          p{
            font-size: 25px;
          }
        }
        .num{
          max-width: 80%;
          align-items: flex-end;
          margin-left: 100px;
          img{
            max-width: 85%;
          }
          span{
            font-size: 9vw;
          }
        }
      }
      &.about_map{
        .content {
          .block {
            &+.block{
              margin-top: ~'calc(200px + 30vw)';
            }
            p.one{
              font-size: 34px;
              line-height: 50px;
            }
          }
          .row{
            .big{
              font-size: ~'calc(42vw - 100px)';
            }
            .col{
              margin-left: 0;
            }
          }
        }
        
        .map{
          bottom: auto;
          top: 50%;
          transform: translate(0,-50%);
          margin-top: 200px;
          width: 921px;
          height: 590px;
          left: 20%;
          .points{
            bottom: 134px;
            left: 6px;
            height: 270px;
          }
        }
      }
      &.companies{
        .content{
          p.title{
            margin-left: 0;
          }
          .block{
            margin-left: 0;
          }
        }
      }
      &.management .content .row{
        flex-wrap: wrap;
        margin-bottom: 0;
        .item{
          flex-basis: 100% !important;
          margin-right: 0 !important;
          margin-left: 0 !important;
          margin-bottom: 15px;
          padding-bottom: 15px;
          .point{
            display: none;
          }
          ul{
            flex-wrap: wrap;
            li{
              margin-bottom: 30px;
            }
          }
        }
      }
      &.management .content .title{
        margin-bottom: 50px;
        height: 60px;
      }
      &.page_404{
        margin-top: 150px;
        img{
          display: block;
        }
        .content{
          p{
            font-size: 40px;
          }
        }
      }
    }
    footer{
      background-color: #282828;
      overflow: visible;
      margin-top: 80px;
      .content{
        &:before,&:after{
          content: none;
        }
        .up{
          transform: translate(0,-33%);
        }
        .block{
          flex-wrap: wrap;
          .col{
            flex-basis: auto;
            width: ~'calc(50% - 20px)';
            &:last-child a.white{
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
@media(max-width: 768px){
  .wrapper{
    header{
      .content{
        .popup_menu .menu{
          padding-top: 130px;
          .content{
            height: ~'calc(100% - 190px)';
          }
          &:before{
            width: 100%;
          }
          .row {
            flex-wrap: wrap;
            ul {
              width: 100%;
              li a{
                font-size: 26px;
                line-height: 50px;
              }
              margin-bottom: 60px;
            }
            .right{
              width: 100%;
              a.phone{
                font-size: 26px;
              }
              span.phone_after{
                margin-bottom: 10px;
              }
              .geo{
                margin-bottom: 10px;
              }
              p{
                font-size: 18px;
                line-height: 30px;
              }
            }
          }
        }
        .menu_list{
          display: none;
          li{
            a{
              user-select: none;
            }
          }
        }
        .search{
          display: none;
        }
      }
    }
    section{
      &.main_banner {
        a.projects{
          font-size: 22px;
          height: 143px;
          width: ~'calc(100% - 120px)';
          padding-top: 0;
          display: flex;
          align-items: center;
          .str{
            right: 50px;
            left: auto;
            margin: 0;
            width: 55px;
            height: 9px;
          }
        }
        .slider {
          .item {
            .content {
              .text {
                max-width: 695px;
                width: auto;
                h1{
                  font-size: 30px;
                  line-height: 40px;
                }
                h4{
                  font-size: 20px;
                }
              }
            }
          }
          .slick-next{
            top: auto;
            right: 25%;
            bottom: 100px;
            width: 53px;
            background-size: contain;
            height: 9px;
          }
          .slick-prev{
            top: auto;
            right: auto;
            left: 25%;
            width: 53px;
            background-size: contain;
            height: 9px;
            bottom: 100px;
            &:hover{
              margin-left: -10px;
            }
          }
        }
      }
      &.news_main .content{
        h3{
          margin: 30px 0;
        }
        .block{
          flex-direction: column;
          .left,.right{
            width: 100%;
            max-width: 440px;
          }
          .left{
            a.img{
              min-height: 400px;
              img{
              width: 100%;
              top: 50%;
              transform: translate(-50%,-50%);
              height: auto;
              min-height: 100%;
              }
            }
            .str{
              width: 64px;
              height: 15px;
              background-size: contain;
            }
          }
          .right{
            padding: 0;
          }
        }
        .list{
          a.item{
            flex-basis: 100%;
            max-width: 440px;
          }
        }
        .navigation{
          .str{
            max-width: 50px;
            max-height: 14px;
            min-width: 50px;
            
          }
          ul{
            
            li{
              margin: 0;
              a{
                width: 33px;
                height: 33px;
                font-size: 16px;
              }
            }
          }
        }
        .form_news{
          margin-top: 50px;
          margin-left: 0;
          width: auto;
          padding: 0;
        }
      }
      &.search_results{
        .content{
          form{
            margin-top: 30px;
          }
          .results{
            a.item{
              flex-basis: 100%;
              max-width: 440px;
            }
          }
        }
      }
      &.block_img .content{
        p.sect-title{
          font-size: 40px;
          width: auto;
          max-width: 250px;
          margin-left: 0;
          line-height: 50px;
        }
        .img_year{
          top: 50px;
        }
        .block{
          flex-direction: column;
          height: auto;
          .left,.right{
            width: auto;
            min-height: 200px;
            padding: 30px;
            padding-bottom: 80px;
            p{
              &.one{
                font-size: 40px;
                font-weight: 500;
                line-height: 46.78px;
              }
              &.two{
                font-size: 14px;
                line-height: 18px;
              }
            }
          }
          .right{
            bottom: 0;
            left: 20px;
          }
        }
        .big_figure{
          width: 99px;
          height: 100px;
          background-size: contain;
          right:-50px;
          bottom: -30px;
        }
      }
      &.companies .content {
        p.title{
          font-size: 22px;
        }
        .block{
          flex-wrap: wrap;
          &:before,&:after{
            content: none;
          }
          .item{
            width: ~'calc(50%)';
            
            &:nth-child(5){
              width: 100%;
            }
            &:nth-child(6){
              width: 100%;
            }
            &.about{
              display: flex;
              align-items: center;
              justify-content: center;
              p{
                margin: 0;
                margin-right: 45px;
              }
              .str{
                position: unset;
              }
            }
          }
        }
      }
      &.page_title{
        ::-webkit-scrollbar {
          width: 0px;
        }
        .content{
          p{
            &.title{
              font-size: 30px;
              line-height: 32px;
            }
            &.info{
              margin-left: 0;
              margin-top: 110px;
              font-size: 16px;
              line-height: 26px;
            }
          }
        }
        .scroll_box{
          padding: 0 40px;
          overflow: scroll;
          ul.sub_menu{
            flex-wrap: nowrap;
            width: 200%;
            &.mini{
              margin-top: 0;
              li{
                margin-right: 0;
                width: auto;
                margin-bottom: 0;
                max-width: none;
              }
            }
            li{
              width: auto;
              margin-right: 0;
              margin-bottom: 0;
              a{
                margin-right: 20px;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                white-space: nowrap;
                br{
                  display: none;
                }
              }
            }
          }
        }
      }
      &.fin_report .content {
        p.title{
          font-size: 20px;
          line-height: 22px;
        }
        .block{
          flex-wrap: wrap;
          .item{
            flex-basis: 100%;
          }
        }
      }
      &.inf_rating .content .item {
        flex-direction: column;
        .img{
          min-width: none;
          flex-basis: auto;
          padding: 30px;
          padding-bottom: 10px;
          img{
            max-height: 70px;
          }
        }
        .right{
          flex-basis: auto;
          padding: 30px;
          p{
            &.one{
              font-size: 16px;
              line-height: 22px;
            }
          }
        }
      }
      &.indicators{
        .content{
          .block{
            .slider{
              width: ~'calc(100% - 240px)';
              .slick-slide{
                div{
                  display: flex;
                  justify-content: center;
                }
              }
            }
            table.titles{
              min-width: 240px;
              tr td{
                font-size: 13px;
                line-height: 17px;
              }
            }
          }
        }
      }
      &.drop_down_lists{
        .content{
          .item{
            &.open{
              .list{
                p{
                  border-top: 1px solid #ddd;
                }
              }
            }
            &::before{
              content: '';
              display: block;
              position: absolute;
              z-index: 0;
              width: 1px;
              height: 100%;
              background-color: #ddd;
              left: 50px;
              top: 0;
            }
            .plus{
              width: 15px;
              height: 15px;
              margin-right: 15px;
              position: relative;
              z-index: 3;
              &:after{
                width: 15px;
                height: 15px;
                background-size: 100% 100%;
              }
            }
            p{
              &.num{
                font-size: 16px;
                min-width: 50px;
                width: 50px;
                flex-basis: 50px;
                min-height: unset;
                border-right: 0;
              }
              &.title{
                font-size: 16px;
                padding: 19px 0;
                padding-left: 25px;
                flex-basis: ~"calc(100% - 115px)"
              }
            }
            .list{
              background-color: #fff;
              position: relative;
              p{
                font-size: 15px;
                margin: 0;
                padding: 30px 0;
                padding-left: 75px;
              }
            }
          }
        }
      }
      &.projects {
        margin-bottom: 60px;
        .content {
          .midlle_figure{
            display: none;
          }
          .block{
            .item{
              width: 100% !important;
              height: 420px !important;
            }
            
          }
        }
      }
      &.special {
        img.left{
          position: unset;
          width: ~'calc(100% - 60px)';
          height: auto;
        }
        .midlle_figure{
          width: 100px;
          height: 100px;
          background-size: contain;
          top: 45vw;
          left: auto;
          right: 24px;
          transform: translate(0,-50%);
        }
        .content{
          .right{
            width: 100%;
            p{
              font-size: 16px;
              line-height: 26px;
              &.two{
                font-size: 20px;
                margin-left: 0;
              }
            }
            .block{
              margin-left: 0;
            }
          }
        }
      }
      &.block_text{
        .content{
          .fig{
            margin-top: 30px;
            p{
              margin-left: 0;
            }
            .small_midlle_figure{
              position: unset;
              width: 47px;
              height: 47px;
              background-size: contain;
              margin-bottom: 30px;
            }
          }
          .block_left_img{
            .block{
              margin-top: 30px;
              .item{
                padding: 20px;
                width: 100%;
                &::before{
                  top: 20px;
                }
              }
            }
          }
        }
      }
      &.overseas_projects{
        .img{
          width: ~'calc(100% - 40px)';
        }
        .content{
          .left{
            .logotype{
              position: absolute;
              right: -20px;
              top: -52vw;
              padding: 20px;
              img{
                height: 35px;
                width: auto
              }
            }
          }
          .right{
            p.one{
              height: auto;
              font-size: 16px;
              line-height: 26px;
            }
            p.two{
              height: auto;
            }
          }
        }
      }
      &.contacts {
        .bg{
          height: 350px;
        }
        .content {
          .row{
            margin-top: 50px;
            margin-bottom: 50px;
            .col{
              margin-bottom: 30px;
             p{
               font-size: 20px;
             }
             a{
               font-size: 16px;
             }
            }
          }
          .block .right {
            padding: 70px 0;
            height: ~"calc(100% - 140px)";
            margin-top: 0;
            width: 100%;
            &:before{
              width: 200%;
              left: 50%;
              transform: translate(-50%,0);
              z-index: -1;;
            }
            p{
              font-size: 20px;
            }
            a{
              font-size: 20px;
            }
          }
        }
      }
      &.bosses .content .row {
        align-items: center;
        margin-bottom: 0;
        .item{
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          max-width: none;
          max-width: 300px;
          width: auto;
          .very_small_figure{
            left: 44px;
          }
          .img{
            width: 240px;
            height: 224px;
          }
          .text{
            right: 0;
            margin-top: 28px;
            width: auto;
            position: unset;
            p{
              &.one{
                font-size: 18px;
                margin-bottom: 19px;
              }
              &.two{
                font-size: 15px;
              }
            }
          }
        }
        .block{
          flex-direction: column;
          align-items: center;
          .item{
            width: auto;
            .text{
              width: auto;
            }
          }
        }
      }
      &.history .content{
        .years{
          width: 100px;
          .slick-current .item{
            font-size: 30px;
          }
        }
        .events{
          .item{
            
            .block{
              .text{
                padding: 35px 0;
                padding-right: 20px;
                height: 340px;
                p{
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      &.img_left {
        .content{
          p.title{
            font-size: 24px;
            margin-bottom: ~"calc(140px + 54vw)";
            line-height: 40px;
          }
          .midlle_figure{
            top: ~'calc(110px + 10vw)';
          }
        }
        .img{
          top: ~'calc(110px + 20vw)';
        }
      }
      &.about .content .block{
        min-height: 280px;
        p{
          font-size: 20px;
          line-height: 40px;
        }
      }
      &.about_map{
        .content .block {
          margin-left: 0;
          &+.block{
            margin-left: 0;
          }
        }
        .map{
          bottom: 400px;
        }
      }
      &.prizes{
        margin-bottom: 60px;
        .content{
          .item{
            flex-direction: column;
            .img{
              flex-basis: auto;
              min-height: 309px;
              img{
                height: 100%;
                width: auto;
              }
            }
            .text{
              flex-basis: auto;
              padding: 20px;
              padding-bottom: 50px;
              margin-bottom: 20px;
              p{
                &.one{
                  font-size: 20px;
                }
                &.two{
                  font-size: 15px;
                  font-weight: 500;
                  line-height: 22px;
                }
              }
            }
          }
        }
      }
      &.management .content .row{
        .item{
          padding: 30px;
          padding-bottom: 10px;
          p{
            font-size: 16px;
            margin-bottom: 20px;
            line-height: 24px;
          }
          ul{
            li{
              font-size: 16px;
              padding-left: 0;
              margin-bottom: 11px;
              &::before{
                display: none;
              }
              span{
                font-size: 14px;
              }
            }
          }
        }
      }
      &.struct .content .block .item{
        width: 100%;
      }
      &.page_404{
        .content{
          min-height: 350px;
          p{
            font-size: 30px;
            text-align: center;
          }
        }
        img{
          top:300px;
        }
      }
    }
    footer{

    }
  }
}
@media(max-width: 550px){
  .wrapper{
    .content{
      width: ~'calc(100% - 30px)';
    }
    section{
      &.companies .content {
        p.title{
          font-size: 18px;
        }
        .block{
          .item{
            img{
              max-height: 45px;
            }
          }
        }
      }
      &.main_banner{
        height: 530px;
        .content{
          .slide-count{
            height: 190px;
            top: 157px;
            &::before{
              height: 130px;
            }
            p{
              font-size: 14px;
            }
          }
          a.str_down{
            width: 8px;
            height: 79px;
            background-size: contain;
          }
        }
        .slider{
          .item{
            .content{
              .text{
                margin-left: 50px;
                padding-top: 150px;
                h1{
                  font-size: 26px;
                  line-height: 30px;
                }
                h4{
                  font-size: 16px;
                  line-height: 24px;
                }
              }
            }
          }
        }
      }
      &.news_main{
        .content{
          h3{
            font-size: 18px;
          }
          .block {
            .left{
              margin-bottom: 30px;
              a.img{
                padding: 30px;
                width: ~'calc(100% - 60px)';
                min-height: 340px;
                p{
                  &.one{
                    font-size: 16px;
                  }
                  &.two{
                    font-size: 14px;
                  }
                }
              }
            }
            .right{
              align-items: center;
              a.item{
                
                &.item:first-child + a{
                  border-bottom: 1px solid #e5e5e5;
                  &::before{
                    content: none;
                  }
                }
                
                p{
                  &.one{
                    font-size: 16px;
                  }
                  &.two{
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .list{
            a.item{
              p{
                &.one{
                  font-size: 16px;
                }
                &.two{
                  font-size: 14px;
                }
              }
            }
          }
          .navigation{
            ul{
              width: ~"calc(100% - 140px)";
              justify-content: space-between;
            }
            .str{
              &.left{
                margin-right: 20px;
              }
              &.right{
                margin-left: 20px;
              }
            }
          }
        }
      }
      &.search_results{
        .content{
          form{
            .row{
              flex-direction: column;
              margin-bottom: 30px;
              .filter{
                label{
                  margin-left: 0;
                  margin-right: 40px;
                }
              }
            }
            .search_area{
              input{
                padding: 20px 30px;
              }
              button{
                height: 60px;
              }
            }
          }
          .results{
            a.item{
              p{
                &.one{
                  font-size: 16px;
                }
                &.two{
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      &.block_img{
        .content{
          .block{
            .right,.left{
              width: ~'calc(100% - 80px)';
            }
          }
          a.proj{
            margin-bottom: 50px;
          }
        }
      }
      &.page_title{
        .content{
          p.title{
            font-size: 20px;
            line-height: 24px;
          }
          
        }
        .scroll_box{
          padding: 0 15px;
          width: ~'calc(100% - 30px)';
          ul.sub_menu{
            li{
              a{
                font-size: 13px;
                /* white-space: normal;
                max-width: 320px;
                min-width: 200px; */
              }
            }
          }
        }
      }
      &.block_text{
        margin-bottom: 50px;
        .content{
          p{
            &.title{
              font-size: 18px;
              line-height: 26px;
            }
          }
          a.red{
            font-size: 16px;
            padding-bottom: 3px;
            border-bottom: 2px solid #e0e0e0;
          }
          .fig{
            p{
              font-size: 18px;
              line-height: 26px;
            }
          }
        }
      }
      &.indicators{
        .content{
          p.title{
            font-size: 24px;
            line-height: 32px;
          }
          .block{
            .slider{
              width: ~'calc(100% - 210px)';
              .slick-next, .slick-prev{
                top: 0;
              }
              .slick-prev{
                margin-top: -5px;
                left: -30px;
              }
            }
            .progress_slide{
              display: none;
            }
            table.titles{
              min-width: 210px;
            }
          }
        }
      }
      &.projects .content .block{
        .item{
          height: 280px !important;
          
        }
      }
      &.special {
        .midlle_figure{
          width: 66px;
          height: 66px;
        }
        .content{
          .right{
            .block{
              margin-left: 0;
              .item{
                width: ~'calc(50% - 10px)';
              }
            }
          }
        }
      }
      &.overseas_projects{
        .content{
          .left{
            .logotype{
              right: 0px;
            }
          }
        }
      }
      &.about .content {
        .block{
          padding: 30px;
          height: 170px;
          top: -100px;
          min-height: auto;
          p{
            font-size: 16px;
            line-height: 24px;
          }
        }
        .num{
          margin:0 auto;
          margin-bottom: 60px;
        }
       
      }
      &.img_left {
        .content {
          p.title{
            line-height: 30px;
          }
          p.one{
            font-size: 16px;
            line-height: 24px;
          }
          .midlle_figure{
            left: 65%;
            top: 170px;
          }
        }
        .img{
          min-height: 200px;
          min-width: 305px;
          right: auto;
          left: 0;
          top: ~'calc(170px + 10vw)';
        }
      }
      &.about_map {
        margin-top: 60px;
        .content {
          .row {
            .big{
              font-size: 90px;
            }
            .col{
              p.red_small{
                right: auto;
                left: 220px;
                top: 0;
              }
              p.one{
                font-size: 24px;
                font-weight: 500;
                line-height: 36px;
              }
              p.two{
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
              }
            }
          }
          .block{
            p.one{
              font-size: 24px;
              line-height: 36px;
            }
            p.two{
              font-size: 16px;
              line-height: 32px;
            }
          }
        }
        .map{
          margin-top: 150px;
        }
      }
      &.page_404{
        img{
          top:350px;
        }
      }
      
    }
    footer{
      .content{
        .block{
          .col{
            width: 100%;
            &:last-child{
              transform: translate(0,-50px);
            }
            a.copyright{
              margin-top: 75px;
            }
            a.phone{
              position: relative;
              top: 130px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 320px){
  .wrapper{
    section{
      &.about .content {
        .num{
          margin-top: 50px;
        }
        .block{
          top: -150px;
        }
      }
      &.img_left .content p.title{
        margin-bottom: 260px;
      }
      &.about_map{
        .map{
          left: -10px;
        }
      }
    }
  }
}