@media(max-width: 1440px){
  .wrapper{
    .content{
      width: 1200px;
    }
    .scroll_box{
      width: 1200px;
    }
    header{
  
    }
    section{
      &.main_banner .slider{
        .slick-prev{
          transform: rotate(180deg) translate(-500px, 0)
        }
        .slick-next{
          transform: translate(580px, 0)
        }
      }
      &.block_img .content{
        .block {
          height: auto;
          div{
            height: auto;
            min-height: 320px;
            padding-bottom: 80px;
          }
        }
        .big_figure{
          right: -60px;
        }
      }
    }
    footer{
  
    }
  }
}
@media(max-width: 1240px){
  .wrapper{
    .content{
      width: 980px;
    }
    .scroll_box{
      width: 980px;
    }
    header {
      .content .menu_list{
        margin-right: auto;
      }
    }
    section{
      &.main_banner .slider .item{
        img{
          width: auto;
          height: 100%;
          left: 50%;
          transform: translate(-50%,0);
        }
        .content .text{
          h1{
            font-size: 80px;
          }
          h4{
            max-width: 490px;
            width: auto;
            font-size: 26px;
          }
        }
      }
      &.news_main .content{
        .block{
          &.news_page{
            margin-left: 0;
          }
          .left a.img{
            margin-left: 100px;
            width: ~"calc(100% - 200px)"
          }
        }
        .list{
          margin-left: 0;
        }
        .navigation{
          margin-left: 0;
        }
      }
      &.block_img .content {
        p.sect-title{
          font-size: 75px;
        }
        .block{
          div{
            p{
              &.one{
                font-size: 70px;
                line-height: 70px;
              }
              &.two{
                font-size: 18px;
              }
            }
          }
        }
      }
      &.main_banner .slider {
        .slick-prev{
          transform: rotate(180deg) translate(-400px, 0)
        }
        .slick-next{
          transform: translate(480px, 0)
        }
      }
      &.indicators{
        .content{
          .block{
            .slider{
              width: 700px;
            }
          }
        }
      }
      &.block_text{
        .citys{
          display: none;
        }
      }
    }
  }
}
@media(max-width: 1024px){
  .wrapper{
    .content{
      width: ~'calc(100% - 80px)';
      margin: auto;
    }
    .scroll_box{
      width: ~'calc(100% - 80px)';
      margin: auto;
    }
    header{
      .content{
        .lang{
          display: none;
        }
      }
    }
    section{
      &.main_banner {
        a.projects{
          height: 170px;
          padding-left: 40px;
          width: ~'calc(50% - 100px)';
          .str{
            margin-top: 50px;
            left: 40px;
          }
        }
        .slider{
          .item{
            .content{
              .text{
                margin-left: 100px;
              }
            }
          }
          .slick-next{
            right: 20px;
            transform: none;
          }
          .slick-prev{
            
            transform: rotate(180deg);
            right: 80px;
          }
        }
      }
      &.news_main .content {
        .form_news{
          padding-left: 25px;
        }
        .block {
          .right{
            padding-left: 50px;
          }
          .left {
            .big_figure,.small_figure{
              display: none;
            }
            a.img{
              margin: 0;
              margin-left: 0;
              width: ~"calc(100% - 100px)";
              height: ~"calc(100% - 100px)";
              img{
                height: 100%;
                width: auto;
                left: 50%;
                transform: translate(-50%,0);
              }
            }
          }
        }
        .list{
          a.item{
            flex-basis: ~"calc((100% - 50px)/2)";
          }
        }
      }
      &.block_img .content{
        p.sect-title{
          margin-top: 50px;
          font-size: 60px;
        }
        .img_year{
          width: 90vw;
        }
        .big_figure{
          right: -32px;
        }
        .block{
          div{
            padding: 60px;
            p.one{
              font-size: 60px;
              line-height: 55px;
            }
            &.left,&.right{
              p{
                &.two{
                  margin-right: 0;
                }
              }
            }
            
          }
        }
      }
      &.page_title{
        margin-top: 130px;
        &.has_bg {
          padding-top: 130px;
          img{
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: auto;
          }
        }
        .content{
          p{
            &.title{
              font-size: 40px;
            }
            &.info{
              margin-left: 300px;
              font-size: 19px;
            }
          }
        }
        .scroll_box{
          ul.sub_menu{
            flex-wrap: wrap;
            margin-bottom: 20px;
            li{
              margin-bottom: 25px;
              margin-right: 5px;
            }
          }
        }
      }
      &.fin_report{
        .content{
          p{
            &.title{
              font-size: 24px;
            }
          }
          .block{
            .item{
              p{
                font-size: 13px;
                line-height: 16px;
                margin-right: 30px;
              }
            }
          }
        }
      }
      &.block_text{
        .content{
          p{
            &.title{
              font-size: 24px;
            }
          }
          a.red{
            font-size: 18px;
          }
        }
      }
      &.inf_rating .content .item {
        .img{
          min-width: 200px;
        }
        .right{
          p{
            &.one{
              font-size: 18px;
              line-height: 24px;
            }
          }
        }
      }
      &.indicators{
        .content{
          .block{
            .slider{
              width: ~'calc(100% - 240px)';
            }
            table.titles{
              min-width: 240px;
              tr td{
                font-size: 13px;
              }
            }
          }
        }
      }
      &.news_detail{
        .content{
          a.back{
            position: unset;
            justify-content: flex-start;
            margin-bottom: 20px;
          }
          p{
            margin-left: 0;
            margin-right: 0;
            &.title{
              font-size: 24px;
            }
          }
        }
      }
      &.social{
        .content{
          flex-direction: column;
          align-items: flex-start;
          p.title{
            margin-left: 0;
            margin-bottom: 40px;
            &::before,&:after{
              content: none;
            }
          }
          ul{
            position: relative;
            &::before{
              position: absolute;
              content:'';
              background-color: #f7f7f7;
              z-index: -1;
              height: 80px;
              width: 1000%;
              left: 25px;
              top: 50%;
              transform: translate(0,-50%);
            }
            li{
              margin-left: 12px;
              &:first-child{
                margin-left: 0;
              }
            }
          }
        }
      }
      &.projects .content .block{
        .item{
          width: ~'calc(50% - 10px)' !important;
          overflow: hidden;
          height: 420px !important;
          img{
            width: 100%;
            height: auto;
          }
          p.one{
            font-size: 18px;
          }
          p.date{
            font-size: 14px;
          }
        }
      }
      &.special {
        img.left{
          right: 60%;
        }
        .midlle_figure{
          left: 40%;
        }
        .content{
          .right{
            width: 60%;
          }
          
        }
      }
    }
    footer{
      background-color: #282828;
      overflow: visible;
      margin-top: 80px;
      .content{
        &:before,&:after{
          content: none;
        }
        .up{
          transform: translate(0,-33%);
        }
        .block{
          flex-wrap: wrap;
          .col{
            flex-basis: auto;
            width: ~'calc(50% - 20px)';
            &:last-child a.white{
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
@media(max-width: 768px){
  .wrapper{
    header{
      .content{
        .menu_list{
          display: none;
          li{
            a{
              user-select: none;
            }
          }
        }
        .search{
          display: none;
        }
      }
    }
    section{
      &.main_banner {
        a.projects{
          font-size: 22px;
          height: 143px;
          width: ~'calc(100% - 120px)';
          padding-top: 0;
          display: flex;
          align-items: center;
          .str{
            right: 50px;
            left: auto;
            margin: 0;
            width: 55px;
            height: 9px;
          }
        }
        .slider {
          .item {
            .content {
              .text {
                max-width: 695px;
                width: auto;
                h1{
                  font-size: 30px;
                  line-height: 40px;
                }
                h4{
                  font-size: 20px;
                }
              }
            }
          }
          .slick-next{
            top: auto;
            right: 25%;
            bottom: 100px;
            width: 53px;
            background-size: contain;
            height: 9px;
          }
          .slick-prev{
            top: auto;
            right: auto;
            left: 25%;
            width: 53px;
            background-size: contain;
            height: 9px;
            bottom: 100px;
            &:hover{
              margin-left: -10px;
            }
          }
        }
      }
      &.news_main .content{
        h3{
          margin: 30px 0;
        }
        .block{
          flex-direction: column;
          .left,.right{
            width: 100%;
            max-width: 440px;
          }
          .left{
            a.img{
              min-height: 400px;
              img{
              width: 100%;
              top: 50%;
              transform: translate(-50%,-50%);
              height: auto;
              min-height: 100%;
              }
            }
            .str{
              width: 64px;
              height: 15px;
              background-size: contain;
            }
          }
          .right{
            padding: 0;
          }
        }
        .list{
          a.item{
            flex-basis: 100%;
            max-width: 440px;
          }
        }
        .navigation{
          .str{
            max-width: 50px;
            max-height: 14px;
            min-width: 50px;
            
          }
          ul{
            
            li{
              margin: 0;
              a{
                width: 33px;
                height: 33px;
                font-size: 16px;
              }
            }
          }
        }
        .form_news{
          margin-left: 0;
          width: auto;
          padding: 0;
        }
      }
      &.block_img .content{
        p.sect-title{
          font-size: 40px;
          width: auto;
          max-width: 250px;
          margin-left: 0;
          line-height: 50px;
        }
        .img_year{
          top: 50px;
        }
        .block{
          flex-direction: column;
          height: auto;
          div{
            width: auto;
            min-height: 200px;
            padding: 30px;
            padding-bottom: 80px;
            &.right{
              bottom: 0;
              left: 20px;
            }
            p{
              &.one{
                font-size: 40px;
                font-weight: 500;
                line-height: 46.78px;
              }
              &.two{
                font-size: 14px;
                line-height: 18px;
              }
            }
          }
        }
        .big_figure{
          width: 99px;
          height: 100px;
          background-size: contain;
          right:-50px;
          bottom: -30px;
        }
      }
      &.companies .content {
        p.title{
          font-size: 22px;
        }
        .block{
          flex-wrap: wrap;
          &:before,&:after{
            content: none;
          }
          .item{
            width: ~'calc(50%)';
            
            &:nth-child(5){
              width: 100%;
            }
            &:nth-child(6){
              width: 100%;
            }
            &.about{
              display: flex;
              align-items: center;
              justify-content: center;
              p{
                margin: 0;
                margin-right: 45px;
              }
              .str{
                position: unset;
              }
            }
          }
        }
      }
      &.page_title{
        ::-webkit-scrollbar {
          width: 0px;
        }
        .content{
          p{
            &.title{
              font-size: 30px;
              line-height: 32px;
            }
            &.info{
              margin-left: 0;
              margin-top: 110px;
              font-size: 16px;
              line-height: 26px;
            }
          }
        }
        .scroll_box{
          padding: 0 40px;
          overflow: scroll;
          ul.sub_menu{
            flex-wrap: nowrap;
            width: 200%;
            &.mini{
              margin-top: 0;
              li{
                margin-right: 0;
                width: auto;
                margin-bottom: 0;
                max-width: none;
              }
            }
            li{
              width: auto;
              margin-right: 0;
              margin-bottom: 0;
              a{
                margin-right: 20px;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                white-space: nowrap;
                br{
                  display: none;
                }
              }
            }
          }
        }
      }
      &.fin_report .content {
        p.title{
          font-size: 20px;
          line-height: 22px;
        }
        .block{
          flex-wrap: wrap;
          .item{
            flex-basis: 100%;
          }
        }
      }
      &.inf_rating .content .item {
        flex-direction: column;
        .img{
          min-width: none;
          flex-basis: auto;
          padding: 30px;
          padding-bottom: 10px;
          img{
            max-height: 70px;
          }
        }
        .right{
          flex-basis: auto;
          padding: 30px;
          p{
            &.one{
              font-size: 16px;
              line-height: 22px;
            }
          }
        }
      }
      &.indicators{
        .content{
          .block{
            .slider{
              width: ~'calc(100% - 240px)';
              .slick-slide{
                div{
                  display: flex;
                  justify-content: center;
                }
              }
            }
            table.titles{
              min-width: 240px;
              tr td{
                font-size: 13px;
                line-height: 17px;
              }
            }
          }
        }
      }
      &.drop_down_lists{
        .content{
          .item{
            &.open{
              .list{
                p{
                  border-top: 1px solid #ddd;
                }
              }
            }
            &::before{
              content: '';
              display: block;
              position: absolute;
              z-index: 0;
              width: 1px;
              height: 100%;
              background-color: #ddd;
              left: 50px;
              top: 0;
            }
            .plus{
              width: 15px;
              height: 15px;
              margin-right: 15px;
              position: relative;
              z-index: 3;
              &:after{
                width: 15px;
                height: 15px;
                background-size: 100% 100%;
              }
            }
            p{
              &.num{
                font-size: 16px;
                min-width: 50px;
                width: 50px;
                flex-basis: 50px;
                min-height: unset;
                border-right: 0;
              }
              &.title{
                font-size: 16px;
                padding: 19px 0;
                padding-left: 25px;
                flex-basis: ~"calc(100% - 115px)"
              }
            }
            .list{
              background-color: #fff;
              position: relative;
              p{
                font-size: 15px;
                margin: 0;
                padding: 30px 0;
                padding-left: 75px;
              }
            }
          }
        }
      }
      &.projects {
        margin-bottom: 60px;
        .content {
          .midlle_figure{
            display: none;
          }
          .block{
            .item{
              width: 100% !important;
              height: 420px !important;
            }
            
          }
        }
      }
      &.special {
        img.left{
          position: unset;
          width: ~'calc(100% - 60px)';
          height: auto;
        }
        .midlle_figure{
          width: 100px;
          height: 100px;
          background-size: contain;
          top: 45vw;
          left: auto;
          right: 24px;
          transform: translate(0,-50%);
        }
        .content{
          .right{
            width: 100%;
            p{
              font-size: 16px;
              line-height: 26px;
              &.two{
                font-size: 20px;
                margin-left: 0;
              }
            }
            .block{
              margin-left: 0;
            }
          }
        }
      }
      &.block_text{
        .content{
          .fig{
            margin-top: 30px;
            p{
              margin-left: 0;
            }
            .small_midlle_figure{
              position: unset;
              width: 47px;
              height: 47px;
              background-size: contain;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
    footer{

    }
  }
}
@media(max-width: 550px){
  .wrapper{
    .content{
      width: ~'calc(100% - 30px)';
    }
    section{
      &.companies .content {
        p.title{
          font-size: 18px;
        }
        .block{
          .item{
            img{
              max-height: 45px;
            }
          }
        }
      }
      &.main_banner{
        height: 530px;
        .content{
          .slide-count{
            height: 190px;
            top: 157px;
            &::before{
              height: 130px;
            }
            p{
              font-size: 14px;
            }
          }
          a.str_down{
            width: 8px;
            height: 79px;
            background-size: contain;
          }
        }
        .slider{
          .item{
            .content{
              .text{
                margin-left: 50px;
                padding-top: 150px;
                h1{
                  font-size: 26px;
                  line-height: 30px;
                }
                h4{
                  font-size: 16px;
                  line-height: 24px;
                }
              }
            }
          }
        }
      }
      &.news_main{
        .content{
          h3{
            font-size: 18px;
          }
          .block {
            .left{
              margin-bottom: 30px;
              a.img{
                padding: 30px;
                width: ~'calc(100% - 60px)';
                min-height: 340px;
                p{
                  &.one{
                    font-size: 16px;
                  }
                  &.two{
                    font-size: 14px;
                  }
                }
              }
            }
            .right{
              align-items: center;
              a.item{
                
                &.item:first-child + a{
                  border-bottom: 1px solid #e5e5e5;
                  &::before{
                    content: none;
                  }
                }
                
                p{
                  &.one{
                    font-size: 16px;
                  }
                  &.two{
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .list{
            a.item{
              p{
                &.one{
                  font-size: 16px;
                }
                &.two{
                  font-size: 14px;
                }
              }
            }
          }
          .navigation{
            ul{
              width: ~"calc(100% - 140px)";
              justify-content: space-between;
            }
            .str{
              &.left{
                margin-right: 20px;
              }
              &.right{
                margin-left: 20px;
              }
            }
          }
        }
      }
      &.block_img{
        .content{
          .block{
            .right,.left{
              width: ~'calc(100% - 80px)';
            }
          }
          a.proj{
            margin-bottom: 50px;
          }
        }
      }
      &.page_title{
        .content{
          p.title{
            font-size: 20px;
            line-height: 24px;
          }
          
        }
        .scroll_box{
          padding: 0 15px;
          width: ~'calc(100% - 30px)';
          ul.sub_menu{
            li{
              a{
                font-size: 13px;
                /* white-space: normal;
                max-width: 320px;
                min-width: 200px; */
              }
            }
          }
        }
      }
      &.block_text{
        margin-bottom: 50px;
        .content{
          p{
            &.title{
              font-size: 18px;
              line-height: 26px;
            }
          }
          a.red{
            font-size: 16px;
            padding-bottom: 3px;
            border-bottom: 2px solid #e0e0e0;
          }
          .fig{
            p{
              font-size: 18px;
              line-height: 26px;
            }
          }
        }
      }
      &.indicators{
        .content{
          p.title{
            font-size: 24px;
            line-height: 32px;
          }
          .block{
            .slider{
              width: ~'calc(100% - 210px)';
              .slick-next, .slick-prev{
                top: 0;
              }
              .slick-prev{
                margin-top: -5px;
                left: -30px;
              }
            }
            .progress_slide{
              display: none;
            }
            table.titles{
              min-width: 210px;
            }
          }
        }
      }
      &.projects .content .block{
        .item{
          height: 280px !important;
          
        }
      }
      &.special {
        .midlle_figure{
          width: 66px;
          height: 66px;
        }
        .content{
          .right{
            .block{
              margin-left: 0;
              .item{
                width: ~'calc(50% - 10px)';
              }
            }
          }
        }
      }
    }
    footer{
      .content{
        .block{
          .col{
            width: 100%;
            &:last-child{
              transform: translate(0,-50px);
            }
            a.copyright{
              margin-top: 75px;
            }
            a.phone{
              position: relative;
              top: 130px;
            }
          }
        }
      }
    }
  }
}
