@media (max-width: 1440px) {
  .wrapper .content {
    width: 1200px;
  }
  .wrapper .scroll_box {
    width: 1200px;
  }
  .wrapper section.main_banner .slider .slick-prev {
    transform: rotate(180deg) translate(-500px, 0);
  }
  .wrapper section.main_banner .slider .slick-next {
    transform: translate(580px, 0);
  }
  .wrapper section.block_img .content .block {
    height: auto;
  }
  .wrapper section.block_img .content .block .left,
  .wrapper section.block_img .content .block .right {
    height: auto;
    min-height: 320px;
    padding-bottom: 80px;
  }
  .wrapper section.block_img .content .big_figure {
    right: -60px;
  }
  .wrapper section.overseas_projects .img {
    width: 570px;
    margin-top: 60px;
  }
  .wrapper section.overseas_projects .content .left .midlle_figure {
    bottom: -120px;
  }
  .wrapper section.about_map .content .row .big {
    font-size: 320px;
  }
  .wrapper section.about_map .content .row .col {
    height: 230px;
  }
}
@media (max-width: 1240px) {
  .wrapper .content {
    width: 980px;
  }
  .wrapper .scroll_box {
    width: 980px;
  }
  .wrapper header .content .menu_list {
    margin-right: auto;
  }
  .wrapper header .content .popup_menu .menu:before {
    width: calc(50% + 110px);
  }
  .wrapper header .content .popup_menu .menu .row ul {
    width: calc(50% - 100px);
  }
  .wrapper header .content .popup_menu .menu .row ul li a {
    font-size: 45px;
  }
  .wrapper header .content .popup_menu .menu .row .right {
    width: 50%;
  }
  .wrapper header .content .popup_menu .menu .row .right a.phone {
    font-size: 45px;
  }
  .wrapper header .content .popup_menu .menu .row .right p {
    font-size: 32px;
    line-height: 50px;
  }
  .wrapper section.main_banner .slider .item img {
    width: auto;
    height: 100%;
  }
  .wrapper section.main_banner .slider .item .content .text h1 {
    font-size: 80px;
  }
  .wrapper section.main_banner .slider .item .content .text h4 {
    max-width: 490px;
    width: auto;
    font-size: 26px;
  }
  .wrapper section.news_main .content .block.news_page {
    margin-left: 0;
  }
  .wrapper section.news_main .content .block .left a.img {
    margin-left: 100px;
    width: calc(100% - 200px);
  }
  .wrapper section.news_main .content .list {
    margin-left: 0;
  }
  .wrapper section.news_main .content .navigation {
    margin-left: 0;
  }
  .wrapper section.block_img .content p.sect-title {
    font-size: 75px;
  }
  .wrapper section.block_img .content .block .left p.one,
  .wrapper section.block_img .content .block .right p.one {
    font-size: 70px;
    line-height: 70px;
  }
  .wrapper section.block_img .content .block .left p.two,
  .wrapper section.block_img .content .block .right p.two {
    font-size: 18px;
  }
  .wrapper section.main_banner .slider .slick-prev {
    transform: rotate(180deg) translate(-400px, 0);
  }
  .wrapper section.main_banner .slider .slick-next {
    transform: translate(480px, 0);
  }
  .wrapper section.indicators .content .block .slider {
    width: 700px;
  }
  .wrapper section.block_text .citys {
    display: none;
  }
  .wrapper section.overseas_projects .img {
    position: unset;
    transform: none;
    margin: 0;
    width: 60%;
    height: auto;
  }
  .wrapper section.overseas_projects .content {
    padding-top: 40px;
    position: relative;
    margin-bottom: 10px;
  }
  .wrapper section.overseas_projects .content .left {
    position: unset;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
  .wrapper section.overseas_projects .content .left .midlle_figure {
    bottom: -120px;
    display: none;
  }
  .wrapper section.overseas_projects .content .left .logotype {
    position: absolute;
    right: 34%;
    top: -36vw;
    padding: 30px;
  }
  .wrapper section.overseas_projects .content .right {
    width: 100%;
  }
  .wrapper section.overseas_projects .content .right p.one {
    width: 100%;
  }
  .wrapper section.contacts .content .block .right {
    padding: 70px;
    margin-top: 148px;
    height: calc(100% - 140px);
    width: calc(50% - 70px);
  }
  .wrapper section.contacts .content .block .right p {
    font-size: 28px;
  }
  .wrapper section.contacts .content .block .right a {
    font-size: 28px;
  }
  .wrapper section.bosses .content .row {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .wrapper section.bosses .content .row:nth-child(even) {
    flex-direction: column;
  }
  .wrapper section.bosses .content .row .item {
    width: 700px;
    max-width: 100%;
  }
  .wrapper section.bosses .content .row .item .text {
    right: 0;
  }
  .wrapper section.bosses .content .row .block {
    display: flex;
    width: 100%;
    margin-top: 30px;
  }
  .wrapper section.bosses .content .row .block .item {
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
  }
  .wrapper section.bosses .content .row .block .item .text {
    position: unset;
    margin-top: 28px;
  }
  .wrapper section.img_left .img {
    width: 95%;
    min-width: auto;
    height: 53vw;
    top: calc(70px + 20vw);
    right: 5%;
  }
  .wrapper section.img_left .content p.title {
    margin-bottom: calc(200px + 54vw);
    font-size: 35px;
    line-height: 50px;
    margin-left: 0;
  }
  .wrapper section.img_left .content .midlle_figure {
    width: 20vw;
    height: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
    top: calc(70px + 10vw);
    left: 50%;
    transform: translate(-50%, 0);
  }
  .wrapper section.img_left .content p.one {
    margin-left: 0;
  }
  .wrapper section.img_left .content .line {
    margin-left: 0;
  }
  .wrapper section.about_map {
    padding-bottom: 100px;
  }
  .wrapper section.about_map .content .row {
    z-index: 4;
    position: relative;
    flex-wrap: wrap;
  }
  .wrapper section.about_map .content .row .col {
    height: auto;
    position: unset;
    margin-top: 50px;
    width: 50%;
  }
  .wrapper section.about_map .content .row .col p.red_small {
    width: 120px;
    left: auto;
    top: 25px;
    right: 0;
  }
  .wrapper section.about_map .content .block {
    margin-left: 200px;
    margin-right: 0;
    margin-top: 100px;
  }
  .wrapper section.about_map .content .block + .block {
    margin-left: 200px;
    margin-top: 400px;
  }
  .wrapper section.about_map .map {
    bottom: 300px;
  }
  .wrapper section.prizes .content .item {
    width: 100%;
  }
  .wrapper section.management .content .row:last-child .point.top.long.center {
    top: -343px;
  }
  .wrapper section.management .content .row:last-child .point.top.long.center:after {
    width: 343px;
  }
  .wrapper section.struct .content .block .item {
    width: calc((100% - 96px ) / 2);
  }
}
@media (max-width: 1024px) {
  .wrapper.p404 {
    background-image: none;
  }
  .wrapper .content {
    width: calc(100% - 80px);
    margin: auto;
  }
  .wrapper .scroll_box {
    width: calc(100% - 80px);
    margin: auto;
  }
  .wrapper header .content .lang {
    display: none;
  }
  .wrapper header .content .popup_menu .menu:before {
    width: calc(50% + 70px);
  }
  .wrapper header .content .popup_menu .menu .row ul {
    width: calc(50% - 70px);
  }
  .wrapper header .content .popup_menu .menu .row ul li a {
    font-size: 37px;
  }
  .wrapper header .content .popup_menu .menu .row .right {
    width: 50%;
  }
  .wrapper header .content .popup_menu .menu .row .right a.phone {
    font-size: 37px;
  }
  .wrapper header .content .popup_menu .menu .row .right p {
    font-size: 26px;
    line-height: 40px;
  }
  .wrapper section.main_banner a.projects {
    height: 170px;
    padding-left: 40px;
    width: calc(50% - 100px);
  }
  .wrapper section.main_banner a.projects .str {
    margin-top: 50px;
    left: 40px;
  }
  .wrapper section.main_banner .slider .item .content .text {
    margin-left: 100px;
  }
  .wrapper section.main_banner .slider .slick-next {
    right: 20px;
    transform: none;
  }
  .wrapper section.main_banner .slider .slick-prev {
    left: auto;
    transform: rotate(180deg);
    right: 80px;
  }
  .wrapper section.news_main .content .form_news {
    padding-left: 25px;
  }
  .wrapper section.news_main .content .block .right {
    padding-left: 50px;
  }
  .wrapper section.news_main .content .block .left .big_figure,
  .wrapper section.news_main .content .block .left .small_figure {
    display: none;
  }
  .wrapper section.news_main .content .block .left a.img {
    margin: 0;
    margin-left: 0;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
  }
  .wrapper section.news_main .content .block .left a.img img {
    height: 100%;
    width: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .wrapper section.news_main .content .list a.item {
    flex-basis: calc((100% - 50px)/2);
  }
  .wrapper section.search_results .content .results a.item {
    flex-basis: calc((100% - 50px)/2);
  }
  .wrapper section.block_img .content p.sect-title {
    margin-top: 50px;
    font-size: 60px;
  }
  .wrapper section.block_img .content .img_year {
    width: 90vw;
  }
  .wrapper section.block_img .content .big_figure {
    right: -32px;
  }
  .wrapper section.block_img .content .block .left,
  .wrapper section.block_img .content .block .right {
    padding: 60px;
  }
  .wrapper section.block_img .content .block .left p.one,
  .wrapper section.block_img .content .block .right p.one {
    font-size: 60px;
    line-height: 55px;
  }
  .wrapper section.block_img .content .block .left p.two,
  .wrapper section.block_img .content .block .right p.two {
    margin-right: 0;
  }
  .wrapper section.page_title {
    margin-top: 130px;
  }
  .wrapper section.page_title.has_bg {
    padding-top: 130px;
  }
  .wrapper section.page_title.has_bg img {
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
  .wrapper section.page_title .content p.title {
    font-size: 40px;
  }
  .wrapper section.page_title .content p.info {
    margin-left: 300px;
    font-size: 19px;
  }
  .wrapper section.page_title .scroll_box ul.sub_menu {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .wrapper section.page_title .scroll_box ul.sub_menu li {
    margin-bottom: 25px;
    margin-right: 5px;
  }
  .wrapper section.fin_report .content p.title {
    font-size: 24px;
  }
  .wrapper section.fin_report .content .block .item p {
    font-size: 13px;
    line-height: 16px;
    margin-right: 30px;
  }
  .wrapper section.block_text .content p.title {
    font-size: 24px;
  }
  .wrapper section.block_text .content a.red {
    font-size: 18px;
  }
  .wrapper section.block_text .content .block_left_img {
    margin-left: 0;
  }
  .wrapper section.block_text .content .block_left_img img {
    position: unset;
    margin-top: 15px;
  }
  .wrapper section.block_text .content .block_left_img .block .item {
    padding: 40px 20px;
  }
  .wrapper section.inf_rating .content .item .img {
    min-width: 200px;
  }
  .wrapper section.inf_rating .content .item .right p.one {
    font-size: 18px;
    line-height: 24px;
  }
  .wrapper section.indicators .content .block .slider {
    width: calc(100% - 240px);
  }
  .wrapper section.indicators .content .block table.titles {
    min-width: 240px;
  }
  .wrapper section.indicators .content .block table.titles tr td {
    font-size: 13px;
  }
  .wrapper section.news_detail .content a.back {
    position: unset;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .wrapper section.news_detail .content p {
    margin-left: 0;
    margin-right: 0;
  }
  .wrapper section.news_detail .content p.title {
    font-size: 24px;
  }
  .wrapper section.social .content {
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper section.social .content p.title {
    margin-left: 0;
    margin-bottom: 40px;
  }
  .wrapper section.social .content p.title::before,
  .wrapper section.social .content p.title:after {
    content: none;
  }
  .wrapper section.social .content ul {
    position: relative;
  }
  .wrapper section.social .content ul::before {
    position: absolute;
    content: '';
    background-color: #f7f7f7;
    z-index: -1;
    height: 80px;
    width: 1000%;
    left: 25px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .wrapper section.social .content ul li {
    margin-left: 12px;
  }
  .wrapper section.social .content ul li:first-child {
    margin-left: 0;
  }
  .wrapper section.projects .content .block .item {
    width: calc(50% - 10px) !important;
    overflow: hidden;
    height: 420px !important;
  }
  .wrapper section.projects .content .block .item img {
    width: 100%;
    height: auto;
  }
  .wrapper section.projects .content .block .item p.one {
    font-size: 18px;
  }
  .wrapper section.projects .content .block .item p.date {
    font-size: 14px;
  }
  .wrapper section.special img.left {
    right: 60%;
  }
  .wrapper section.special .midlle_figure {
    left: 40%;
  }
  .wrapper section.special .content .right {
    width: 60%;
  }
  .wrapper section.contacts .bg {
    position: unset;
    background-position: calc(50% + 200px);
  }
  .wrapper section.contacts .content {
    top: 0;
  }
  .wrapper section.contacts .content .row {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .wrapper section.contacts .content .row .col {
    margin-right: 30px;
  }
  .wrapper section.contacts .content .block .right {
    padding: 70px 0;
    height: calc(100% - 140px);
    margin-top: 0;
    width: 100%;
  }
  .wrapper section.contacts .content .block .right:before {
    width: 200%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
  }
  .wrapper section.contacts .content .block .right p {
    font-size: 28px;
  }
  .wrapper section.contacts .content .block .right a {
    font-size: 28px;
  }
  .wrapper section.requisites {
    margin-bottom: 50px;
  }
  .wrapper section.requisites .content p.title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .wrapper section.requisites .content .block table {
    width: 100%;
    border: 0;
    padding: 0;
  }
  .wrapper section.requisites .content .block table tr {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 13px;
  }
  .wrapper section.requisites .content .block table tr:first-child td {
    padding-top: 0;
  }
  .wrapper section.requisites .content .block table tr:last-child td {
    padding-bottom: 0;
  }
  .wrapper section.requisites .content .block table tr td {
    padding: 0;
    width: 100%;
    margin-bottom: 5px;
  }
  .wrapper section.requisites .content .block table tr td:nth-child(odd) {
    width: 100%;
  }
  .wrapper section.requisites .content .block table tr td:first-child {
    border: 0;
  }
  .wrapper section.history .content .years {
    width: 140px;
  }
  .wrapper section.history .content .years .slick-current .item {
    font-size: 40px;
  }
  .wrapper section.history .content .years .item {
    font-size: 24px;
  }
  .wrapper section.history .content .events {
    padding-top: 30px;
    width: 100%;
  }
  .wrapper section.history .content .events .slick-arrow {
    width: 125px;
    height: 35px;
    top: 10px;
    font-size: 20px;
    margin-left: 0;
  }
  .wrapper section.history .content .events .slick-arrow:before {
    width: 63px;
    height: 14px;
  }
  .wrapper section.history .content .events .slick-arrow.slick-prev {
    left: 0;
  }
  .wrapper section.history .content .events .slick-arrow.slick-next {
    left: auto;
    right: 20px;
  }
  .wrapper section.history .content .events .item .block {
    opacity: 0.7;
    padding-right: 28px;
  }
  .wrapper section.history .content .events .item .block:before {
    width: calc(100% - 20px);
  }
  .wrapper section.about .content .block {
    max-width: none;
    top: -250px;
  }
  .wrapper section.about .content .block p {
    font-size: 25px;
  }
  .wrapper section.about .content .num {
    max-width: 80%;
    align-items: flex-end;
    margin-left: 100px;
  }
  .wrapper section.about .content .num img {
    max-width: 85%;
  }
  .wrapper section.about .content .num span {
    font-size: 9vw;
  }
  .wrapper section.about_map .content .block + .block {
    margin-top: calc(200px + 30vw);
  }
  .wrapper section.about_map .content .block p.one {
    font-size: 34px;
    line-height: 50px;
  }
  .wrapper section.about_map .content .row .big {
    font-size: calc(42vw - 100px);
  }
  .wrapper section.about_map .content .row .col {
    margin-left: 0;
  }
  .wrapper section.about_map .map {
    bottom: auto;
    top: 50%;
    transform: translate(0, -50%);
    margin-top: 200px;
    width: 921px;
    height: 590px;
    left: 20%;
  }
  .wrapper section.about_map .map .points {
    bottom: 134px;
    left: 6px;
    height: 270px;
  }
  .wrapper section.companies .content p.title {
    margin-left: 0;
  }
  .wrapper section.companies .content .block {
    margin-left: 0;
  }
  .wrapper section.management .content .row {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .wrapper section.management .content .row .item {
    flex-basis: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .wrapper section.management .content .row .item .point {
    display: none;
  }
  .wrapper section.management .content .row .item ul {
    flex-wrap: wrap;
  }
  .wrapper section.management .content .row .item ul li {
    margin-bottom: 30px;
  }
  .wrapper section.management .content .title {
    margin-bottom: 50px;
    height: 60px;
  }
  .wrapper section.page_404 {
    margin-top: 150px;
  }
  .wrapper section.page_404 img {
    display: block;
  }
  .wrapper section.page_404 .content p {
    font-size: 40px;
  }
  .wrapper footer {
    background-color: #282828;
    overflow: visible;
    margin-top: 80px;
  }
  .wrapper footer .content:before,
  .wrapper footer .content:after {
    content: none;
  }
  .wrapper footer .content .up {
    transform: translate(0, -33%);
  }
  .wrapper footer .content .block {
    flex-wrap: wrap;
  }
  .wrapper footer .content .block .col {
    flex-basis: auto;
    width: calc(50% - 20px);
  }
  .wrapper footer .content .block .col:last-child a.white {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .wrapper header .content .popup_menu .menu {
    padding-top: 130px;
  }
  .wrapper header .content .popup_menu .menu .content {
    height: calc(100% - 190px);
  }
  .wrapper header .content .popup_menu .menu:before {
    width: 100%;
  }
  .wrapper header .content .popup_menu .menu .row {
    flex-wrap: wrap;
  }
  .wrapper header .content .popup_menu .menu .row ul {
    width: 100%;
    margin-bottom: 60px;
  }
  .wrapper header .content .popup_menu .menu .row ul li a {
    font-size: 26px;
    line-height: 50px;
  }
  .wrapper header .content .popup_menu .menu .row .right {
    width: 100%;
  }
  .wrapper header .content .popup_menu .menu .row .right a.phone {
    font-size: 26px;
  }
  .wrapper header .content .popup_menu .menu .row .right span.phone_after {
    margin-bottom: 10px;
  }
  .wrapper header .content .popup_menu .menu .row .right .geo {
    margin-bottom: 10px;
  }
  .wrapper header .content .popup_menu .menu .row .right p {
    font-size: 18px;
    line-height: 30px;
  }
  .wrapper header .content .menu_list {
    display: none;
  }
  .wrapper header .content .menu_list li a {
    user-select: none;
  }
  .wrapper header .content .search {
    display: none;
  }
  .wrapper section.main_banner a.projects {
    font-size: 22px;
    height: 143px;
    width: calc(100% - 120px);
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  .wrapper section.main_banner a.projects .str {
    right: 50px;
    left: auto;
    margin: 0;
    width: 55px;
    height: 9px;
  }
  .wrapper section.main_banner .slider .item .content .text {
    max-width: 695px;
    width: auto;
  }
  .wrapper section.main_banner .slider .item .content .text h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .wrapper section.main_banner .slider .item .content .text h4 {
    font-size: 20px;
  }
  .wrapper section.main_banner .slider .slick-next {
    top: auto;
    right: 25%;
    bottom: 100px;
    width: 53px;
    background-size: contain;
    height: 9px;
  }
  .wrapper section.main_banner .slider .slick-prev {
    top: auto;
    right: auto;
    left: 25%;
    width: 53px;
    background-size: contain;
    height: 9px;
    bottom: 100px;
  }
  .wrapper section.main_banner .slider .slick-prev:hover {
    margin-left: -10px;
  }
  .wrapper section.news_main .content h3 {
    margin: 30px 0;
  }
  .wrapper section.news_main .content .block {
    flex-direction: column;
  }
  .wrapper section.news_main .content .block .left,
  .wrapper section.news_main .content .block .right {
    width: 100%;
    max-width: 440px;
  }
  .wrapper section.news_main .content .block .left a.img {
    min-height: 400px;
  }
  .wrapper section.news_main .content .block .left a.img img {
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    min-height: 100%;
  }
  .wrapper section.news_main .content .block .left .str {
    width: 64px;
    height: 15px;
    background-size: contain;
  }
  .wrapper section.news_main .content .block .right {
    padding: 0;
  }
  .wrapper section.news_main .content .list a.item {
    flex-basis: 100%;
    max-width: 440px;
  }
  .wrapper section.news_main .content .navigation .str {
    max-width: 50px;
    max-height: 14px;
    min-width: 50px;
  }
  .wrapper section.news_main .content .navigation ul li {
    margin: 0;
  }
  .wrapper section.news_main .content .navigation ul li a {
    width: 33px;
    height: 33px;
    font-size: 16px;
  }
  .wrapper section.news_main .content .form_news {
    margin-top: 50px;
    margin-left: 0;
    width: auto;
    padding: 0;
  }
  .wrapper section.search_results .content form {
    margin-top: 30px;
  }
  .wrapper section.search_results .content .results a.item {
    flex-basis: 100%;
    max-width: 440px;
  }
  .wrapper section.block_img .content p.sect-title {
    font-size: 40px;
    width: auto;
    max-width: 250px;
    margin-left: 0;
    line-height: 50px;
  }
  .wrapper section.block_img .content .img_year {
    top: 50px;
  }
  .wrapper section.block_img .content .block {
    flex-direction: column;
    height: auto;
  }
  .wrapper section.block_img .content .block .left,
  .wrapper section.block_img .content .block .right {
    width: auto;
    min-height: 200px;
    padding: 30px;
    padding-bottom: 80px;
  }
  .wrapper section.block_img .content .block .left p.one,
  .wrapper section.block_img .content .block .right p.one {
    font-size: 40px;
    font-weight: 500;
    line-height: 46.78px;
  }
  .wrapper section.block_img .content .block .left p.two,
  .wrapper section.block_img .content .block .right p.two {
    font-size: 14px;
    line-height: 18px;
  }
  .wrapper section.block_img .content .block .right {
    bottom: 0;
    left: 20px;
  }
  .wrapper section.block_img .content .big_figure {
    width: 99px;
    height: 100px;
    background-size: contain;
    right: -50px;
    bottom: -30px;
  }
  .wrapper section.companies .content p.title {
    font-size: 22px;
  }
  .wrapper section.companies .content .block {
    flex-wrap: wrap;
  }
  .wrapper section.companies .content .block:before,
  .wrapper section.companies .content .block:after {
    content: none;
  }
  .wrapper section.companies .content .block .item {
    width: calc(50%);
  }
  .wrapper section.companies .content .block .item:nth-child(5) {
    width: 100%;
  }
  .wrapper section.companies .content .block .item:nth-child(6) {
    width: 100%;
  }
  .wrapper section.companies .content .block .item.about {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper section.companies .content .block .item.about p {
    margin: 0;
    margin-right: 45px;
  }
  .wrapper section.companies .content .block .item.about .str {
    position: unset;
  }
  .wrapper section.page_title ::-webkit-scrollbar {
    width: 0px;
  }
  .wrapper section.page_title .content p.title {
    font-size: 30px;
    line-height: 32px;
  }
  .wrapper section.page_title .content p.info {
    margin-left: 0;
    margin-top: 110px;
    font-size: 16px;
    line-height: 26px;
  }
  .wrapper section.page_title .scroll_box {
    padding: 0 40px;
    overflow: scroll;
  }
  .wrapper section.page_title .scroll_box ul.sub_menu {
    flex-wrap: nowrap;
    width: 200%;
  }
  .wrapper section.page_title .scroll_box ul.sub_menu.mini {
    margin-top: 0;
  }
  .wrapper section.page_title .scroll_box ul.sub_menu.mini li {
    margin-right: 0;
    width: auto;
    margin-bottom: 0;
    max-width: none;
  }
  .wrapper section.page_title .scroll_box ul.sub_menu li {
    width: auto;
    margin-right: 0;
    margin-bottom: 0;
  }
  .wrapper section.page_title .scroll_box ul.sub_menu li a {
    margin-right: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    white-space: nowrap;
  }
  .wrapper section.page_title .scroll_box ul.sub_menu li a br {
    display: none;
  }
  .wrapper section.fin_report .content p.title {
    font-size: 20px;
    line-height: 22px;
  }
  .wrapper section.fin_report .content .block {
    flex-wrap: wrap;
  }
  .wrapper section.fin_report .content .block .item {
    flex-basis: 100%;
  }
  .wrapper section.inf_rating .content .item {
    flex-direction: column;
  }
  .wrapper section.inf_rating .content .item .img {
    min-width: none;
    flex-basis: auto;
    padding: 30px;
    padding-bottom: 10px;
  }
  .wrapper section.inf_rating .content .item .img img {
    max-height: 70px;
  }
  .wrapper section.inf_rating .content .item .right {
    flex-basis: auto;
    padding: 30px;
  }
  .wrapper section.inf_rating .content .item .right p.one {
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper section.indicators .content .block .slider {
    width: calc(100% - 240px);
  }
  .wrapper section.indicators .content .block .slider .slick-slide div {
    display: flex;
    justify-content: center;
  }
  .wrapper section.indicators .content .block table.titles {
    min-width: 240px;
  }
  .wrapper section.indicators .content .block table.titles tr td {
    font-size: 13px;
    line-height: 17px;
  }
  .wrapper section.drop_down_lists .content .item.open .list p {
    border-top: 1px solid #ddd;
  }
  .wrapper section.drop_down_lists .content .item::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    width: 1px;
    height: 100%;
    background-color: #ddd;
    left: 50px;
    top: 0;
  }
  .wrapper section.drop_down_lists .content .item .plus {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    position: relative;
    z-index: 3;
  }
  .wrapper section.drop_down_lists .content .item .plus:after {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
  }
  .wrapper section.drop_down_lists .content .item p.num {
    font-size: 16px;
    min-width: 50px;
    width: 50px;
    flex-basis: 50px;
    min-height: unset;
    border-right: 0;
  }
  .wrapper section.drop_down_lists .content .item p.title {
    font-size: 16px;
    padding: 19px 0;
    padding-left: 25px;
    flex-basis: calc(100% - 115px);
  }
  .wrapper section.drop_down_lists .content .item .list {
    background-color: #fff;
    position: relative;
  }
  .wrapper section.drop_down_lists .content .item .list p {
    font-size: 15px;
    margin: 0;
    padding: 30px 0;
    padding-left: 75px;
  }
  .wrapper section.projects {
    margin-bottom: 60px;
  }
  .wrapper section.projects .content .midlle_figure {
    display: none;
  }
  .wrapper section.projects .content .block .item {
    width: 100% !important;
    height: 420px !important;
  }
  .wrapper section.special img.left {
    position: unset;
    width: calc(100% - 60px);
    height: auto;
  }
  .wrapper section.special .midlle_figure {
    width: 100px;
    height: 100px;
    background-size: contain;
    top: 45vw;
    left: auto;
    right: 24px;
    transform: translate(0, -50%);
  }
  .wrapper section.special .content .right {
    width: 100%;
  }
  .wrapper section.special .content .right p {
    font-size: 16px;
    line-height: 26px;
  }
  .wrapper section.special .content .right p.two {
    font-size: 20px;
    margin-left: 0;
  }
  .wrapper section.special .content .right .block {
    margin-left: 0;
  }
  .wrapper section.block_text .content .fig {
    margin-top: 30px;
  }
  .wrapper section.block_text .content .fig p {
    margin-left: 0;
  }
  .wrapper section.block_text .content .fig .small_midlle_figure {
    position: unset;
    width: 47px;
    height: 47px;
    background-size: contain;
    margin-bottom: 30px;
  }
  .wrapper section.block_text .content .block_left_img .block {
    margin-top: 30px;
  }
  .wrapper section.block_text .content .block_left_img .block .item {
    padding: 20px;
    width: 100%;
  }
  .wrapper section.block_text .content .block_left_img .block .item::before {
    top: 20px;
  }
  .wrapper section.overseas_projects .img {
    width: calc(100% - 40px);
  }
  .wrapper section.overseas_projects .content .left .logotype {
    position: absolute;
    right: -20px;
    top: -52vw;
    padding: 20px;
  }
  .wrapper section.overseas_projects .content .left .logotype img {
    height: 35px;
    width: auto;
  }
  .wrapper section.overseas_projects .content .right p.one {
    height: auto;
    font-size: 16px;
    line-height: 26px;
  }
  .wrapper section.overseas_projects .content .right p.two {
    height: auto;
  }
  .wrapper section.contacts .bg {
    height: 350px;
  }
  .wrapper section.contacts .content .row {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .wrapper section.contacts .content .row .col {
    margin-bottom: 30px;
  }
  .wrapper section.contacts .content .row .col p {
    font-size: 20px;
  }
  .wrapper section.contacts .content .row .col a {
    font-size: 16px;
  }
  .wrapper section.contacts .content .block .right {
    padding: 70px 0;
    height: calc(100% - 140px);
    margin-top: 0;
    width: 100%;
  }
  .wrapper section.contacts .content .block .right:before {
    width: 200%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
  }
  .wrapper section.contacts .content .block .right p {
    font-size: 20px;
  }
  .wrapper section.contacts .content .block .right a {
    font-size: 20px;
  }
  .wrapper section.bosses .content .row {
    align-items: center;
    margin-bottom: 0;
  }
  .wrapper section.bosses .content .row .item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: none;
    max-width: 300px;
    width: auto;
  }
  .wrapper section.bosses .content .row .item .very_small_figure {
    left: 44px;
  }
  .wrapper section.bosses .content .row .item .img {
    width: 240px;
    height: 224px;
  }
  .wrapper section.bosses .content .row .item .text {
    right: 0;
    margin-top: 28px;
    width: auto;
    position: unset;
  }
  .wrapper section.bosses .content .row .item .text p.one {
    font-size: 18px;
    margin-bottom: 19px;
  }
  .wrapper section.bosses .content .row .item .text p.two {
    font-size: 15px;
  }
  .wrapper section.bosses .content .row .block {
    flex-direction: column;
    align-items: center;
  }
  .wrapper section.bosses .content .row .block .item {
    width: auto;
  }
  .wrapper section.bosses .content .row .block .item .text {
    width: auto;
  }
  .wrapper section.history .content .years {
    width: 100px;
  }
  .wrapper section.history .content .years .slick-current .item {
    font-size: 30px;
  }
  .wrapper section.history .content .events .item .block .text {
    padding: 35px 0;
    padding-right: 20px;
    height: 340px;
  }
  .wrapper section.history .content .events .item .block .text p {
    font-size: 14px;
  }
  .wrapper section.img_left .content p.title {
    font-size: 24px;
    margin-bottom: calc(140px + 54vw);
    line-height: 40px;
  }
  .wrapper section.img_left .content .midlle_figure {
    top: calc(110px + 10vw);
  }
  .wrapper section.img_left .img {
    top: calc(110px + 20vw);
  }
  .wrapper section.about .content .block {
    min-height: 280px;
  }
  .wrapper section.about .content .block p {
    font-size: 20px;
    line-height: 40px;
  }
  .wrapper section.about_map .content .block {
    margin-left: 0;
  }
  .wrapper section.about_map .content .block + .block {
    margin-left: 0;
  }
  .wrapper section.about_map .map {
    bottom: 400px;
  }
  .wrapper section.prizes {
    margin-bottom: 60px;
  }
  .wrapper section.prizes .content .item {
    flex-direction: column;
  }
  .wrapper section.prizes .content .item .img {
    flex-basis: auto;
    min-height: 309px;
  }
  .wrapper section.prizes .content .item .img img {
    height: 100%;
    width: auto;
  }
  .wrapper section.prizes .content .item .text {
    flex-basis: auto;
    padding: 20px;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }
  .wrapper section.prizes .content .item .text p.one {
    font-size: 20px;
  }
  .wrapper section.prizes .content .item .text p.two {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
  }
  .wrapper section.management .content .row .item {
    padding: 30px;
    padding-bottom: 10px;
  }
  .wrapper section.management .content .row .item p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 24px;
  }
  .wrapper section.management .content .row .item ul li {
    font-size: 16px;
    padding-left: 0;
    margin-bottom: 11px;
  }
  .wrapper section.management .content .row .item ul li::before {
    display: none;
  }
  .wrapper section.management .content .row .item ul li span {
    font-size: 14px;
  }
  .wrapper section.struct .content .block .item {
    width: 100%;
  }
  .wrapper section.page_404 .content {
    min-height: 350px;
  }
  .wrapper section.page_404 .content p {
    font-size: 30px;
    text-align: center;
  }
  .wrapper section.page_404 img {
    top: 300px;
  }
}
@media (max-width: 550px) {
  .wrapper .content {
    width: calc(100% - 30px);
  }
  .wrapper section.companies .content p.title {
    font-size: 18px;
  }
  .wrapper section.companies .content .block .item img {
    max-height: 45px;
  }
  .wrapper section.main_banner {
    height: 530px;
  }
  .wrapper section.main_banner .content .slide-count {
    height: 190px;
    top: 157px;
  }
  .wrapper section.main_banner .content .slide-count::before {
    height: 130px;
  }
  .wrapper section.main_banner .content .slide-count p {
    font-size: 14px;
  }
  .wrapper section.main_banner .content a.str_down {
    width: 8px;
    height: 79px;
    background-size: contain;
  }
  .wrapper section.main_banner .slider .item .content .text {
    margin-left: 50px;
    padding-top: 150px;
  }
  .wrapper section.main_banner .slider .item .content .text h1 {
    font-size: 26px;
    line-height: 30px;
  }
  .wrapper section.main_banner .slider .item .content .text h4 {
    font-size: 16px;
    line-height: 24px;
  }
  .wrapper section.news_main .content h3 {
    font-size: 18px;
  }
  .wrapper section.news_main .content .block .left {
    margin-bottom: 30px;
  }
  .wrapper section.news_main .content .block .left a.img {
    padding: 30px;
    width: calc(100% - 60px);
    min-height: 340px;
  }
  .wrapper section.news_main .content .block .left a.img p.one {
    font-size: 16px;
  }
  .wrapper section.news_main .content .block .left a.img p.two {
    font-size: 14px;
  }
  .wrapper section.news_main .content .block .right {
    align-items: center;
  }
  .wrapper section.news_main .content .block .right a.item.item:first-child + a {
    border-bottom: 1px solid #e5e5e5;
  }
  .wrapper section.news_main .content .block .right a.item.item:first-child + a::before {
    content: none;
  }
  .wrapper section.news_main .content .block .right a.item p.one {
    font-size: 16px;
  }
  .wrapper section.news_main .content .block .right a.item p.two {
    font-size: 14px;
  }
  .wrapper section.news_main .content .list a.item p.one {
    font-size: 16px;
  }
  .wrapper section.news_main .content .list a.item p.two {
    font-size: 14px;
  }
  .wrapper section.news_main .content .navigation ul {
    width: calc(100% - 140px);
    justify-content: space-between;
  }
  .wrapper section.news_main .content .navigation .str.left {
    margin-right: 20px;
  }
  .wrapper section.news_main .content .navigation .str.right {
    margin-left: 20px;
  }
  .wrapper section.search_results .content form .row {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .wrapper section.search_results .content form .row .filter label {
    margin-left: 0;
    margin-right: 40px;
  }
  .wrapper section.search_results .content form .search_area input {
    padding: 20px 30px;
  }
  .wrapper section.search_results .content form .search_area button {
    height: 60px;
  }
  .wrapper section.search_results .content .results a.item p.one {
    font-size: 16px;
  }
  .wrapper section.search_results .content .results a.item p.two {
    font-size: 14px;
  }
  .wrapper section.block_img .content .block .right,
  .wrapper section.block_img .content .block .left {
    width: calc(100% - 80px);
  }
  .wrapper section.block_img .content a.proj {
    margin-bottom: 50px;
  }
  .wrapper section.page_title .content p.title {
    font-size: 20px;
    line-height: 24px;
  }
  .wrapper section.page_title .scroll_box {
    padding: 0 15px;
    width: calc(100% - 30px);
  }
  .wrapper section.page_title .scroll_box ul.sub_menu li a {
    font-size: 13px;
    /* white-space: normal;
                max-width: 320px;
                min-width: 200px; */
  }
  .wrapper section.block_text {
    margin-bottom: 50px;
  }
  .wrapper section.block_text .content p.title {
    font-size: 18px;
    line-height: 26px;
  }
  .wrapper section.block_text .content a.red {
    font-size: 16px;
    padding-bottom: 3px;
    border-bottom: 2px solid #e0e0e0;
  }
  .wrapper section.block_text .content .fig p {
    font-size: 18px;
    line-height: 26px;
  }
  .wrapper section.indicators .content p.title {
    font-size: 24px;
    line-height: 32px;
  }
  .wrapper section.indicators .content .block .slider {
    width: calc(100% - 210px);
  }
  .wrapper section.indicators .content .block .slider .slick-next,
  .wrapper section.indicators .content .block .slider .slick-prev {
    top: 0;
  }
  .wrapper section.indicators .content .block .slider .slick-prev {
    margin-top: -5px;
    left: -30px;
  }
  .wrapper section.indicators .content .block .progress_slide {
    display: none;
  }
  .wrapper section.indicators .content .block table.titles {
    min-width: 210px;
  }
  .wrapper section.projects .content .block .item {
    height: 280px !important;
  }
  .wrapper section.special .midlle_figure {
    width: 66px;
    height: 66px;
  }
  .wrapper section.special .content .right .block {
    margin-left: 0;
  }
  .wrapper section.special .content .right .block .item {
    width: calc(50% - 10px);
  }
  .wrapper section.overseas_projects .content .left .logotype {
    right: 0px;
  }
  .wrapper section.about .content .block {
    padding: 30px;
    height: 170px;
    top: -100px;
    min-height: auto;
  }
  .wrapper section.about .content .block p {
    font-size: 16px;
    line-height: 24px;
  }
  .wrapper section.about .content .num {
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .wrapper section.img_left .content p.title {
    line-height: 30px;
  }
  .wrapper section.img_left .content p.one {
    font-size: 16px;
    line-height: 24px;
  }
  .wrapper section.img_left .content .midlle_figure {
    left: 65%;
    top: 170px;
  }
  .wrapper section.img_left .img {
    min-height: 200px;
    min-width: 305px;
    right: auto;
    left: 0;
    top: calc(170px + 10vw);
  }
  .wrapper section.about_map {
    margin-top: 60px;
  }
  .wrapper section.about_map .content .row .big {
    font-size: 90px;
  }
  .wrapper section.about_map .content .row .col p.red_small {
    right: auto;
    left: 220px;
    top: 0;
  }
  .wrapper section.about_map .content .row .col p.one {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
  }
  .wrapper section.about_map .content .row .col p.two {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .wrapper section.about_map .content .block p.one {
    font-size: 24px;
    line-height: 36px;
  }
  .wrapper section.about_map .content .block p.two {
    font-size: 16px;
    line-height: 32px;
  }
  .wrapper section.about_map .map {
    margin-top: 150px;
  }
  .wrapper section.page_404 img {
    top: 350px;
  }
  .wrapper footer .content .block .col {
    width: 100%;
  }
  .wrapper footer .content .block .col:last-child {
    transform: translate(0, -50px);
  }
  .wrapper footer .content .block .col a.copyright {
    margin-top: 75px;
  }
  .wrapper footer .content .block .col a.phone {
    position: relative;
    top: 130px;
  }
}
@media (max-width: 320px) {
  .wrapper section.about .content .num {
    margin-top: 50px;
  }
  .wrapper section.about .content .block {
    top: -150px;
  }
  .wrapper section.img_left .content p.title {
    margin-bottom: 260px;
  }
  .wrapper section.about_map .map {
    left: -10px;
  }
}
